body {
  background-color: rgba(251,233,223,0.6);
}

#main-container {
  margin:20px 60px 20px 60px;
  background-color: rgba(255,255,255, 0.7);
}

#info-header {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

#info-header span {
  font-size: 20px;
}

#select-level-footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#select-mode-footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-align: center;
  display: none;
}

.level-selector, .mode-selector {
    font-size: 18px;
    margin-top: 10px;
}

#example {
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#game-title {
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 10px;
}

#gameplay-screen-3x3, #gameplay-screen-4x4 {
  display: none;
}

.gameplay-info-nav {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:20px 60px 20px 60px;
  background-color: rgb(254,251,249);
}

.gameplay-info-nav table {
  margin: 0 auto;
}


.player1-screen, .player2-screen {
  background-color: rgb(254,251,249);
}

.player1-screen {
  float: left;
  width: 49%;
  text-align: center;
  height:310px;
}

.player2-screen {
  float: right;
  width: 49%;
  height: 310px;
  text-align: center;
}

td {
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-family: 'montserrat';
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}

table {
  border: 8px;
  border-style: solid;
  border-color: rgba(101, 51, 51,1);
  border-spacing: 0;
  border-collapse: collapse;
  /*border-radius: 10px;
  box-shadow: 0 0 0 10px rgba(101, 51, 51,1);*/
}

.winning-goal-example td{
  height: 40px;
  width: 40px;
  font-size: 20px;
}

.players-board-4x4 td {
  height: 40px;
  width: 40px;
  font-size: 25px;
}

#last-block-empty-4x4 td {
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.empty-block {
  background-color: rgb(155,117,81);
}

span {
  font-weight: bolder;
  font-family: 'montserrat';
  font-size: 16px;
}

p, h1, h3, h2 {
  font-family: 'montserrat';
  font-size: 15px;
  margin: 0px;
}

p {
  display: inline-block;
}

button {
  background-color: rgba(101, 51, 51,0.9);
  color: white;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
}


h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

.player1-screen table, .player2-screen table {
  margin: 0 auto;
}

.current-mode-time, .main-menu, .game-restart {
  margin-top: 5px;
}

.player1-current-count, .player2-current-count {
  margin-bottom: 10px;
}

.player2-finished-message, .player1-finished-message {
  color: rgb(3,25,119);
  font-family: 'montserrat';
  font-size: 30px;
  font-weight: bolder;
}
